In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("CTG.csv")

In [3]:
df.head()

,FileName,Date,SegFile,b,e,LBE,LB,AC,FM,UC,...,calm vigi,active vigi,E,AD,DE,LD,FS,SUSP,CLASS,NSP
0,Variab10.txt,01/12/1996,CTG0001.txt,240.0,357.0,120.0,120.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,9.0,2.0
1,Fmcs_1.txt,03/05/1996,CTG0002.txt,5.0,632.0,132.0,132.0,4.0,0.0,4.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,6.0,1.0
2,Fmcs_1.txt,03/05/1996,CTG0003.txt,177.0,779.0,133.0,133.0,2.0,0.0,5.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,6.0,1.0
3,Fmcs_1.txt,03/05/1996,CTG0004.txt,411.0,1192.0,134.0,134.0,2.0,0.0,6.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,6.0,1.0
4,Fmcs_1.txt,03/05/1996,CTG0005.txt,533.0,1147.0,132.0,132.0,4.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2129 entries, 0 to 2128
Data columns (total 40 columns):
FileName       2126 non-null object
Date           2126 non-null object
SegFile        2126 non-null object
b              2126 non-null float64
e              2126 non-null float64
LBE            2126 non-null float64
LB             2126 non-null float64
AC             2126 non-null float64
FM             2127 non-null float64
UC             2127 non-null float64
ASTV           2127 non-null float64
MSTV           2127 non-null float64
ALTV           2127 non-null float64
MLTV           2127 non-null float64
DL             2128 non-null float64
DS             2128 non-null float64
DP             2128 non-null float64
DR             2128 non-null float64
Width          2126 non-null float64
Min            2126 non-null float64
Max            2126 non-null float64
Nmax           2126 non-null float64
Nzeros         2126 non-null float64
Mode           2126 non-null float64
Mean           2126 non-null float64
Median         2126 non-null float64
Variance       2126 non-null float64
Tendency       2126 non-null float64
calm sleep     2126 non-null float64
REM sleep      2126 non-null float64
calm vigi      2126 non-null float64
active vigi    2126 non-null float64
E              2126 non-null float64
AD             2126 non-null float64
DE             2126 non-null float64
LD             2126 non-null float64
FS             2126 non-null float64
SUSP           2126 non-null float64
CLASS          2126 non-null float64
NSP            2126 non-null float64
dtypes: float64(37), object(3)
memory usage: 665.4+ KB

In [5]:
from sklearn.model_selection import train_test_split
x=df.drop('NSP',axis=1)
y=df['NSP']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.3,random_state=1)
x_train['NSP']=y_train

/home/monika/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [6]:
x_train.head()

,FileName,Date,SegFile,b,e,LBE,LB,AC,FM,UC,...,calm vigi,active vigi,E,AD,DE,LD,FS,SUSP,CLASS,NSP
1935,S8001034.dsp,08/04/1998,CTG1938.txt,478.0,1491.0,133.0,133.0,0.0,4.0,8.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,7.0,1.0
408,Mjmar_13.txt,22/02/1995,CTG0409.txt,256.0,1079.0,150.0,150.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,10.0,2.0
1969,S8001035.dsp,10/05/1998,CTG1972.txt,1179.0,2072.0,138.0,138.0,6.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0
22,Mcslrc_4.txt,08/01/1995,CTG0023.txt,538.0,1194.0,128.0,128.0,0.0,219.0,2.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,8.0,3.0
204,Aast_1.txt,06/05/1996,CTG0205.txt,325.0,722.0,120.0,120.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0

In [7]:
x_test.head()

,FileName,Date,SegFile,b,e,LBE,LB,AC,FM,UC,...,REM sleep,calm vigi,active vigi,E,AD,DE,LD,FS,SUSP,CLASS
1870,S7001029.dsp,20/12/1997,CTG1873.txt,1473.0,2571.0,138.0,138.0,7.0,2.0,2.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,6.0
1206,S0001051.dat,23/09/1996,CTG1207.txt,0.0,806.0,136.0,136.0,4.0,0.0,5.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
1426,S0001089.dat,06/10/1996,CTG1429.txt,341.0,1523.0,144.0,144.0,5.0,0.0,6.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
1291,S0001058.dat,25/09/1996,CTG1293.txt,174.0,565.0,115.0,115.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,7.0
900,S0001019.dat,18/07/1996,CTG0901.txt,2570.0,3210.0,144.0,144.0,2.0,0.0,3.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0

In [8]:
y_test.head()

1870    1.0
1206    1.0
1426    1.0
1291    1.0
900     1.0
Name: NSP, dtype: float64

In [9]:
x_train.to_csv('CTG_train.csv',index=0)

In [10]:
x_test.to_csv('CTG_test.csv',index=0)