In [1]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv("LungCapdata.csv")

In [5]:
df.head()

   LungCap(cc)  Age( years)  Height(inches) Smoke  Gender Caesarean
0        6.475            6            62.1    no    male        no
1       10.125           18            74.7   yes  female        no
2        9.550           16            69.7    no  female       yes
3       11.125           14            71.0    no    male        no
4        4.800            5            56.9    no    male        no

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 725 entries, 0 to 724
Data columns (total 6 columns):
LungCap(cc)       725 non-null float64
Age( years)       725 non-null int64
Height(inches)    725 non-null float64
Smoke             725 non-null object
Gender            725 non-null object
Caesarean         725 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 34.1+ KB

In [7]:
from sklearn.model_selection import train_test_split
x=df.drop('Caesarean',axis=1)
y=df['Caesarean']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.3,random_state=1)
x_train['Caesarean']=y_train

/home/monika/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [8]:
x_train.head()

     LungCap(cc)  Age( years)  Height(inches) Smoke  Gender Caesarean
472        10.65           13            68.3    no    male        no
512        11.50           18            76.3   yes  female        no
460         8.60           17            68.1    no  female        no
90          6.95            9            63.9    no    male       yes
496         8.35           14            64.2    no    male       yes

In [9]:
x_test.head()

     LungCap(cc)  Age( years)  Height(inches) Smoke  Gender
378        4.900            5            60.4    no    male
172        8.775           14            67.7    no  female
259        7.400           11            63.3   yes  female
101        9.225           14            66.9    no    male
8          8.875           15            70.5    no    male

In [10]:
y_test.head()

378    no
172    no
259    no
101    no
8      no
Name: Caesarean, dtype: object

In [11]:
x_train.to_csv('lungcap_train.csv',index=0)

In [12]:
x_test.to_csv('lungcap_test.csv',index=0)