In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv(".csv")

In [4]:
df.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,None,288.28,0.0,0.0,40,Clouds,scattered clouds,2012-10-02 09:00:00,5545
1,None,289.36,0.0,0.0,75,Clouds,broken clouds,2012-10-02 10:00:00,4516
2,None,289.58,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 11:00:00,4767
3,None,290.13,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 12:00:00,5026
4,None,291.14,0.0,0.0,75,Clouds,broken clouds,2012-10-02 13:00:00,4918

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48204 entries, 0 to 48203
Data columns (total 9 columns):
holiday                48204 non-null object
temp                   48204 non-null float64
rain_1h                48204 non-null float64
snow_1h                48204 non-null float64
clouds_all             48204 non-null int64
weather_main           48204 non-null object
weather_description    48204 non-null object
date_time              48204 non-null object
traffic_volume         48204 non-null int64
dtypes: float64(3), int64(2), object(4)
memory usage: 3.3+ MB

In [6]:
from sklearn.model_selection import train_test_split
x=df.drop('traffic_volume',axis=1)
y=df['traffic_volume']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.3,random_state=1)
x_train['traffic_volume']=y_train

/home/monika/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [7]:
x_train.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
39905,None,277.81,0.00,0.0,75,Clouds,broken clouds,2017-12-18 21:00:00,2125
23696,None,291.24,0.00,0.0,90,Mist,mist,2016-05-27 18:00:00,4252
8067,None,289.86,0.51,0.0,92,Rain,light rain,2013-07-31 06:00:00,6289
26614,None,286.89,0.00,0.0,1,Clear,sky is clear,2016-09-14 21:00:00,2317
43737,None,287.48,0.00,0.0,90,Rain,moderate rain,2018-05-02 00:00:00,517

In [8]:
x_test.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time
6715,None,285.48,0.3,0.0,90,Rain,moderate rain,2013-06-06 04:00:00
27836,None,279.92,0.0,0.0,1,Clear,sky is clear,2016-11-05 00:00:00
43682,None,289.15,0.0,0.0,1,Clear,sky is clear,2018-04-29 22:00:00
41005,None,279.15,0.0,0.0,75,Clouds,broken clouds,2018-01-26 17:00:00
28608,None,280.78,0.0,0.0,90,Rain,heavy intensity rain,2016-11-28 18:00:00

In [9]:
y_test.head()

6715      812
27836    1241
43682    1703
41005    5829
28608    3798
Name: traffic_volume, dtype: int64

In [10]:
x_train.to_csv('metro_traffic_train.csv',index=0)

In [11]:
x_test.to_csv('metro_traffic_test.csv',index=0)