In [2]:
import numpy as np
import pandas as pd

In [11]:
data=pd.read_csv("Real estate valuation data set.csv")

In [14]:
data.head()

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [13]:
data=data.drop('No',axis=1)

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 7 columns):
X1 transaction date                       414 non-null float64
X2 house age                              414 non-null float64
X3 distance to the nearest MRT station    414 non-null float64
X4 number of convenience stores           414 non-null int64
X5 latitude                               414 non-null float64
X6 longitude                              414 non-null float64
Y house price of unit area                414 non-null float64
dtypes: float64(6), int64(1)
memory usage: 22.7 KB

In [18]:
from sklearn.model_selection import train_test_split
x=data.drop('Y house price of unit area',axis=1)
y=data['Y house price of unit area']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.3,random_state=1)
x_train['Y house price of unit area']=y_train

/home/monika/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [19]:
x_train.head()

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
274,2013.167,27.5,394.0173,7,24.97305,121.53994,41.0
271,2012.917,17.7,451.6419,8,24.96945,121.54490,26.5
98,2013.417,16.4,289.3248,5,24.98203,121.54348,51.0
69,2012.833,12.5,561.9845,5,24.98746,121.54391,42.0
378,2013.333,37.3,587.8877,8,24.97077,121.54634,37.4

In [20]:
x_test.head()

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
388,2013.500,10.4,2251.9380,4,24.95957,121.51353
102,2013.083,1.1,193.5845,6,24.96571,121.54089
187,2013.000,8.9,3078.1760,0,24.95464,121.56627
162,2012.750,16.0,4066.5870,0,24.94297,121.50342
90,2012.833,0.0,274.0144,1,24.97480,121.53059

In [21]:
y_test.head()

388    27.3
102    54.4
187    22.0
162    11.6
90     45.4
Name: Y house price of unit area, dtype: float64

In [22]:
x_train.to_csv('Real_estate_train.csv',index=0)

In [23]:
x_test.to_csv('Real_estate_test_test.csv',index=0)